<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title id="titlelookbook" >
      LOOKBOOK
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div  id="lookbook-background">

    <button  id="lookbook-btn" onclick="window.open('https://doyougreen.com//fr/lookbook', '_blank', 'location=no'); return false;">
      SHOP THE LOOK
    </button>
  </div>
</ion-content>
