#lookbook-background {
  background: url(../../assets/background/lookbook.jpg) no-repeat;
  position: absolute;
  top:0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 100%;
}


#titlelookbook {
  padding-left: 10px !important;
}

#lookbook-btn {
  margin-top: 50%;
  background-color: #c8938f;
  color: #f4f4f4;
  font-weight: bolder;
  font-size: large;
  padding: 5%;
}
