<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title id="titlehome">
      DO YOU GREEN
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div  id="home-background">
    <h3  id="home-title">
      Découvre la douceur de la Fibre de Pin
    </h3>
    <br><br>
    <button  id="home-btn" onclick="window.open('https://doyougreen.com/fr', '_blank', 'location=no'); return false;">
      SHOP NOW
    </button>
</div>
</ion-content>
