#home-background {
    background: url(../../assets/background/organic.jpg) no-repeat;
    position: absolute;
    top:0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    text-align: center;
    height: 100%;
  }

#home-title {
  padding-top: 35%;
  color: #111111;
  font-size: 2.4rem;
  font-weight: bolder;
}

#titlehome {
  padding-left: 10px;
}

#home-btn {

  background-color: #c8938f;
  color: #f4f4f4;
  font-weight: bolder;
  font-size: large;
  padding: 5%;
}
