#humeur-background {
  background: url(../../assets/background/humeur-du-jour.jpg) no-repeat;
  position: absolute;
  top:0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  height: 100%;
}

#humeur-title {
  padding-top: 30%;
  color: #111111;
  font-size: 2.4rem;
  font-weight: bolder;
}

#titlehumeur {
  padding-left: 10px !important;
}

#humeur-btn {
  background-color: #c8938f;
  color: #f4f4f4;
  font-weight: bolder;
  font-size: large;
  padding: 5%;
}
