<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title id="titlehumeur" >
      HUMEUR DU JOUR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div  id="humeur-background">
    <h3  id="humeur-title">
      Tous les jours Découvre un nouveau produit avec 20% de remise
    </h3>
    <br><br>
    <button  id="humeur-btn" onclick="window.open('https://doyougreen.com//fr/humeur-du-jour', '_blank', 'location=no'); return false;">
      SHOP L'HUMEUR DU JOUR
    </button>
  </div>
</ion-content>
