#fibreecolo-background {
  background: url(../../assets/background/fibre-ecolo.jpg) no-repeat;
  position: absolute;
  top:0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 100%;
}

#fibreecolo-title {
  padding-top: 40%;
  color: #111111;
  font-size: 2.4rem;
  font-weight: bolder;
}

#titlefibreecolo {
  padding-left: 10px !important;
}

#fibreecolo-btn {
  
  background-color: #c8938f;
  color: #f4f4f4;
  font-weight: bolder;
  font-size: large;
  padding: 5%;
}
