<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title id="titlefibreecolo" >
      LA FIBRE ECOLO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div  id="fibreecolo-background">
    <h3  id="fibreecolo-title">
      Tu te sens la fibre écolo ?
    </h3>
    <button  id="fibreecolo-btn" onclick="window.open('https://doyougreen.com//fr/news', '_blank', 'location=no'); return false;">
      Stratégie 3R de Do You Green
    </button>
  </div>
</ion-content>
